.header a {
    margin-left: 40px;

}

.header a:hover {
    color: rgb(252, 50, 0);

}

.formie {
    border: double;
    background-color: rgba(22, 207, 231, 0.329);
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 27vw;
    width: 47vw;
    height: auto;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
}

.formie h1 {
    margin-top: 2vh;
    text-align: center;
}

.inpu {
    margin-left: 7vw;
    margin-top: 5vh;
}

label {
    font-weight: bold;
}

#title,
#author,
#description {
    width: 33vw;
}

#sub {
    margin-left: 13vw;
    width: 120px;
    color: white;
    background-color: black;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 5vh;
}
#sub:hover{
    background-color: rgb(29, 29, 29);
}